.comment
	.description
		%p.comment_description= comment.comment
		
	#button7
		= link_to "Edit", edit_post_comment_path(comment.post, comment)
		= link_to "Delete", [comment.post, comment], method: :delete, data: { confirm: "Are you sure?" }
		
